<div class="box">
  <div class="legend">
    <%= t('views.search.index.search') %>
  </div>

  <%= form_tag "/search", :method => :get do %>
    <div class="boxline">
      <%= text_field_tag "q", params[:q], { :size => 40 }.
        merge(params[:q].present? ? {} : { :autofocus => "autofocus" }) %>
      <input type="submit" value="<%= t('views.search.index.search') %>">
    </div>
  <% end %>
</div>

<% if !@search_results.nil? && @search_results.any? %>
  <div class="box">
    <p>
    <div class="legend">
      <%= @search_results.length %> <%= t('views.search.index.result') %><%= @search_results.length == 1 ? "" :
        t('views.search.index.s') %> for "<%= params[:q] %>"
    </div>
    </p>
  </div>

  <ol class="search_results">
    <% @search_results.each do |result| %>
        <%= render :partial => "stories/listdetail",
          :locals => { :story => result } %>
    <% end %>
  </ol>
<% end %>
