<div class="box wide">
  <div class="legend">
    <%= t('views.signup.invite.title') %>
  </div>

  <p>
    <%= t('views.signup.invite.instructions_1') %><strong><%= @user.invited_by_user.try(:username) %></strong>
    <%= t('views.signup.invite.instructions_2') %> 
  </p>

  <%= render :partial => "users/invitationform",
    :locals => { :return_home => true } %>

  <%= t('views.signup.invite.or') %>

  <p>
  <%= button_to t('views.signup.invite.skip'), "/", :method => :get %>
  </p>
</div>
