<div class="box wide">
  <div class="legend right">
    <a href="/u/<%= @user.username %>"><%= t('views.settings.index.view_profile') %></a>
  </div>
  <div class="legend">
    <%= t('views.settings.index.account_settings') %>
  </div>

  <%= form_for @edit_user, :url => settings_path, :method => :post,
  :html => { :id => "edit_user" } do |f| %>
    <%= error_messages_for f.object %>

    <div class="boxline">
      <%= f.label :username, t('views.settings.index.username'), :class => "required" %>
      <%= f.text_field :username, :size => 15 %>
      <span class="hint">
        <tt><%= User.username_regex %></tt>
      </span>
    </div>

    <div class="boxline">
      <%= f.label :password, t('views.settings.index.new_pw'), :class => "required" %>
      <%= f.password_field :password, :size => 40, :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :password_confirmation, t('views.settings.index.confirm_pw'),
        :class => "required" %>
      <%= f.password_field :password_confirmation, :size => 40,
        :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :email, t('views.settings.index.email'), :class => "required" %>
      <%= f.text_field :email, :size => 40 %>
      <span class="hint">
        <a href="http://www.gravatar.com/" target="_blank"><%= t('views.settings.index.gravatar') %></a><%= t('views.settings.index.ized') %>
      </span>
    </div>

    <br>

    <div class="boxline">
      <%= f.label :pushover_user_key,
        raw("<a href=\"https://pushover.net/\">Pushover</a> #{t('views.settings.index.user_key')} "),
        :class => "required" %>
      <%= f.text_field :pushover_user_key, :size => 40 %>
      <span class="hint">
        <%= t('views.settings.index.pushover_hint') %>
      </span>
    </div>

    <div class="boxline">
      <%= f.label :pushover_device, t('views.settings.index.pushover_device'),
        :class => "required" %>
      <%= f.text_field :pushover_device, :placeholder => "optional",
        :size => 15 %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_sound, t('views.settings.index.pushover_sound'),
        :class => "required" %>
      <%= f.select :pushover_sound, Pushover.sounds.map{|k,v| [ v, k ] } %>
    </div>

    <br>

    <div class="boxline">
      <%= f.label :about, t('views.settings.index.about'), :class => "required" %>
      <%= f.text_area :about, :size => "100x5", :style => "width: 600px;" %>
    </div>

    <div class="box">
      <div class="boxline markdown_help_toggler" style="margin-left: 9em;
      width: 600px;">
        <div class="markdown_help_label">
          <%= t('views.settings.index.markdown_help') %>
        </div>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp" %>
      </div>
    </div>

    <div class="legend">
      <%= t('views.settings.index.comment_reply_settings') %>
    </div>

    <div class="boxline">
      <%= f.label :email_replies, t('views.settings.index.receive_email'), :class => "required" %>
      <%= f.check_box :email_replies %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_replies, t('views.settings.index.receive_pushover'),
        :class => "required" %>
      <%= f.check_box :pushover_replies %>
      <span class="hint">
        <%= t('views.settings.index.pushover_replies_hint') %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t('views.settings.index.comment_mention_settings') %>
    </div>

    <div class="boxline">
      <%= f.label :email_mentions, t('views.settings.index.receive_email'), :class => "required" %>
      <%= f.check_box :email_mentions %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_mentions, t('views.settings.index.receive_pushover'),
        :class => "required" %>
      <%= f.check_box :pushover_mentions %>
      <span class="hint">
        <%= t('views.settings.index.pushover_replies_hint') %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t('views.settings.index.private_message_settings') %>
    </div>

    <div class="boxline">
      <%= f.label :email_messages, t('views.settings.index.receive_email'), :class => "required" %>
      <%= f.check_box :email_messages %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_messages, t('views.settings.index.receive_pushover'),
        :class => "required" %>
      <%= f.check_box :pushover_messages %>
      <span class="hint">
        <%= t('views.settings.index.pushover_replies_hint') %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t('views.settings.index.mailing_list_settings') %>
    </div>

    <p>
      <%= t('views.settings.index.mailing_list_exp_html') %>
    </p>

    <div class="boxline">
      <%= f.label :mailing_list_mode, t('views.settings.index.receive_list_email'),
        :class => "required" %>
      <%= f.select :mailing_list_mode, [ [ t('views.settings.index.no_emails'), 0 ],
        [ t('views.settings.index.all_stories_and_comments'), 1 ], [ t('views.settings.index.only_stories'), 2 ] ] %>
    </div>

    <div class="boxline">
      <label class="required"><%= t('views.settings.index.list_address') %></label>
      <span>
      <tt><%= Rails.application.shortname %>-<%=
        @edit_user.mailing_list_token %>@<%= Rails.application.domain %></tt>
      </span>
    </div>

    <br>
    <%= f.submit t('views.settings.index.save_btn') %>
  <% end %>

  <br>
  <br>

  <%= form_for @edit_user, :url => delete_account_path, :method => :post,
  :html => { :id => "delete_user" } do |f| %>
    <div class="legend">
      <%= f.submit t('views.settings.index.delete_account') %>
    </div>

    <p>
      <%= t('views.settings.index.delete_account_exp') %>
    </p>

    <div class="boxline">
      <%= f.label :password, t('views.settings.index.verify_pw'), :class => "required" %>
      <%= f.password_field :password, :size => 40, :autocomplete => "off" %>
    </div>

    <br>
    <%= f.submit t('views.settings.index.delete_acct_btn') %>
  <% end %>

  <br>
  <br>

  <a name="invite"></a>
  <div class="legend">
    <%= t('views.settings.index.invite_new_user') %>
  </div>

  <%= render :partial => "users/invitationform" %>
</div>
