<div class="box wide">
  <div class="legend">
    <%= t('views.invitations.build.legend') %>
  </div>

  <p>
  <%= t('views.invitations.build.description_1_html') %>
  </p>

  <p>
  <%= t('views.invitations.build.description_2') %>
  </p>

  <%= form_for @invitation_request,
  :url => create_invitation_by_request_path do |f| %>
    <p>
    <%= f.label :name, t('views.invitations.build.name_label') %>
    <%= f.text_field :name, :size => 30 %>
    <br />

    <%= f.label :email, t('views.invitations.build.email_label') %>
    <%= f.text_field :email, :size => 30 %>
    <br />

    <%= f.label :memo, t('views.invitations.build.url_label') %>
    <%= f.text_field :memo, :size => 30 %>
    <br />
    <label></label>
    <span class="na"><%= t('views.invitations.build.url_verify_text') %></span>
    </p>

    <p>
    <%= submit_tag t('views.invitations.build.submit_btn') %>
    </p>
  <% end %>
</div>
