<div class="box wide">
  <div class="legend">
    <%= t('views.invitations.index.legend') %>
  </div>

  <p>
  <%= t('views.invitations.index.description') %>
  </p>

  <table class="data" width="100%" cellspacing=0>
  <tr>
    <th width="15%"><%= t('views.invitations.index.date_time_header') %></th>
    <th width="20%"><%= t('views.invitations.index.name_header') %></th>
    <th width="40%"><%= t('views.invitations.index.memo_header') %></th>
    <th width="15%"></th>
    <% if @user.is_moderator? %>
      <th></th>
    <% end %>
  </tr>
  <% bit = 0 %>
  <% @invitation_requests.each do |ir| %>
    <tr class="row<%= bit %>">
      <td><%= ir.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= ir.name %>
        <% if @user.is_moderator? %>
          <br>
          <em><%= ir.email %></em>
        <% end %></td>
      <td><%= raw ir.markeddown_memo %></td>
      <td><%= form_tag send_invitation_for_request_path do %>
        <%= hidden_field_tag "code", ir.code %>
        <%= submit_tag t('views.invitations.index.send_invitation_btn'), :data => { :confirm => "#{t('views.invitations.index.send_invitation_confirm_msg')}" } %>
      <% end %></td>
      <% if @user.is_moderator? %>
        <td><%= form_tag delete_invitation_request_path do %>
          <%= hidden_field_tag "code", ir.code %>
          <%= submit_tag t('views.invitations.index.delete_invitation_btn'), :data => { :confirm => "#{t('views.invitations.index.delete_invitation_confirm_msg')}" } %>
        <% end %></td>
      <% end %>
    </tr>
    <% bit = (bit == 1 ? 0 : 1) %>
  <% end %>
  <% if @invitation_requests.count == 0 %>
    <tr>
      <td colspan=<%= @user.is_moderator?? 5 : 4 %> align="center"><span
        class="na"><%= t('views.invitations.index.no_invitation') %></span></td>
    </tr>
  <% end %>
  </table>
</div>
