<div class="box wide">
  <div class="legend">
    <%= t('views.login.forgot_password.reset_password') %>
  </div>

  <p>
  <%= t('views.login.forgot_password.reset_password_msg') %>
  </p>

  <%= form_tag reset_password_path do %>
    <%= label_tag :email, t('views.login.forgot_password.email') %>
    <%= text_field_tag :email, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag t('views.login.forgot_password.reset_password_btn') %>
    </p>
  <% end %>
</div>
