<div class="box wide">
  <div class="legend">
    <%= t('views.login.index.login') %>
  </div>

  <%= form_tag login_path do %>
  <p>
    <%= label_tag :email, t('views.login.index.email') %>
    <%= text_field_tag :email, "", :size => 30, :autofocus => "autofocus" %>
    <br />

    <%= label_tag :password, t('views.login.index.password') %>
    <%= password_field_tag :password, "", :size => 30 %>
    <br />
    </p>

    <p>
    <%= submit_tag t('views.login.index.login_btn') %>
    </p>

    <p>
    <%= t('views.login.index.forgot_pw') %> <%= link_to t('views.login.index.reset_pw'),
      forgot_password_path %>.
    </p>

    <p>
      <%= t('views.login.index.instructions_1_html') %>
    <% if Rails.application.allow_invitation_requests? %>
      <%= t('views.login.index.instructions_2_html') %>
    <% else %>
      <%= t('views.login.index.instructions_3') %>
    <% end %>
    </p>

    <% if @referer.present? %>
      <%= hidden_field_tag :referer, @referer %>
    <% end %>
  <% end %>
</div>
