<div class="box wide">
  <div class="legend">
    <%= t('views.login.set_new_password.set_new_password') %>
  </div>

  <%= form_tag set_new_password_path, { :autocomplete => "off" } do %>
    <%= error_messages_for(@reset_user) %>

    <%= hidden_field_tag "token", params[:token] %>

    <p>
    <%= label_tag :username, t('views.login.set_new_password.username') %>
    <%= @reset_user.username %>
    <br />

    <%= label_tag :password, t('views.login.set_new_password.new_password') %>
    <%= password_field_tag :password, "", :size => 30 %>
    <br />

    <%= label_tag :password_confirmation, t('views.login.set_new_password.again') %>
    <%= password_field_tag :password_confirmation, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag t('views.login.set_new_password.set_new_password_btn') %>
    </p>
  <% end %>
</div>
