<div class="markdown_help" style="display: none; padding-top: 0.5em;">
  <table>
  <tr>
    <td width="125"><em><%=t 'views.global.markdownhelp.emphasized_text' %></em></td>
    <td><%=t 'views.global.markdownhelp.emphasized_text_desc_html' %></td>
  </tr>
  <tr>
    <td><strong><%=t 'views.global.markdownhelp.strong_text' %></strong></td>
    <td><%=t 'views.global.markdownhelp.strong_text_desc_html' %></td>
  </tr>
  <tr>
    <td><strike><%=t 'views.global.markdownhelp.struck_through' %></strike></td>
    <td><%=t 'views.global.markdownhelp.struck_through_desc_html' %></td>
  </tr>
  <tr>
    <td><tt><%=t 'views.global.markdownhelp.fixed_width' %></tt></td>
    <td><%=t 'views.global.markdownhelp.fixed_width_desc_html' %></td>
  </tr>
  <tr>
    <td><a href="http://example.com/"
      style="color: inherit;"><%=t 'views.global.markdownhelp.linked_text' %></a></td>
    <td><%=t 'views.global.markdownhelp.linked_text_desc_html' %></td>
  </tr>
  <tr>
    <td><blockquote><%=t 'views.global.markdownhelp.quoted_text' %></blockquote></td>
    <td><%=t 'views.global.markdownhelp.quoted_text_desc_html' %></td>
  </tr>
  <tr>
    <td><pre style="margin: 0px;"><%=t 'views.global.markdownhelp.pre_text' %></pre></td>
    <td><%=t 'views.global.markdownhelp.pre_text_desc_html' %></td>
  </tr>
  <% if defined?(allow_images) && allow_images %>
    <tr>
      <td>(<%=t 'views.global.markdownhelp.inline_image' %>)</td>
      <td><%=t 'views.global.markdownhelp.inline_image_desc_html' %></td>
    </tr>
  <% end %>
  </table>
</div>
