<div class="box wide">
  <div class="legend">
    <%=t 'views.filters.legend' %>
  </div>

  <p>
  <%=t 'views.filters.desc' %>
  </p>

  <% if !@user %>
    <p>
    <%=t 'views.filters.nonuser_desc_html' %>
    </p>
  <% end %>

  <%= form_tag "/filters", :method => :post do %>
    <table class="data zebra" cellspacing=0 width="75%">
    <tr>
      <th width="7%"><%=t 'views.filters.hide_table_header' %></th>
      <th width="13%"><%=t 'views.filters.tag_table_header' %></th>
      <th width="65%"><%=t 'views.filters.description_table_header' %></th>
      <th width="5%" style="text-align: right; padding-right: 1em;"><%=t 'views.filters.stories_table_header' %></th>
    </tr>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= check_box_tag "tags[]", tag.tag,
          @filtered_tags.include?(tag) %></td>
        <td><%= link_to tag.tag, tag_path(tag), :class => tag.css_class %></td>
        <td><%= tag.description %>
          <% if tag.hotness_mod != 0 %>
            &nbsp;
            <em>(hotness mod <%= tag.hotness_mod > 0 ? "+" : ""%><%=
              tag.hotness_mod %>)</em>
          <% end %></td>
        <td style="text-align: right; padding-right: 1em;"><%=
          tag.stories_count %></td>
      </tr>
    <% end %>
    </table>
    <p>
    <%= submit_tag t("views.filters.save") %>
    </p>
  <% end %>
</div>
